<script>

    $(function(){
		for(i=0;i<10;i++){
               $("#instruction2").animate({color: "blue"}, 'slow');
               $("#instruction2").animate({color: "red"}, 'slow');
}
    });


tense_width=new Array();
tense_width["future perfecto"] ="25";
tense_width["futuro simple"] ="20";
tense_width["imperfecto"] ="50";
tense_width["pluscuamperfecto"] ="30";
tense_width["futuro simple"] ="20";
tense_width["pretérito perfecto"] ="30";
tense_width["presente"] ="20";



tense_main= new Array();
tense_main["condicional simple"]="1. To express a wish/courtesy:<p>	Me gustaría comprar una camisa (I´d like to buy a shirt).<br>¿Podrías decirme....? (Could you tell me...?)<p>2. To express a possibility:<br>Compraríamos la motocicleta si tuviéramos* más dinero. (We would buy the motorbike if we had more money).<p>3. To give an advice:<br>¡Deberías comer más! (You should eat more!)"
tense_main["condicional perfecto"]="The conditional perfect is used to make statements that are contrary to reality.<br> Something would, or would not, have happened if some condition had been met.<p>As an example,<br>'I would have done the assingment last night, if I had only taken my notebook with me to the party'.<p>The conditional perfect can also be used to express probability or<br>conjecture about the completion of an action prior to some point in the past:<p>El habría sacado la gorda antes de comprar aquella mansion.<br>He would have won the lottery before purchasing that mansion.<p>El profesor le habría prometido una marca perfecta cuando empezó el curso.<br>The professor must have promised him an A plus when he started the course."
tense_main["futuro simple"] ="future."
tense_main["futuro perfecto"] ="The future perfect is formed by combining the auxiliary verb 'haber' with the past participle.<br>habré, habrás, habrá, habremos, habréis, habrán."+
"<p> (yo) Habré escrito el libro antes del año nuevo."+
"<br> I will have written the book before the new year. "+
"<p>(tú) ¿Habrás comprado una casa en un año?"+
"<br>Will you have bought a house in a year?"+

"<p>(él) Habrá pagado todas las deudas para el dos de octubre."+
"<br>He will have paid all the debt by October 2."+

"<p>(nosotros) Habremos vuelto de España para el doce de junio."+
"<br>We will have returned from Spain by June 12."+

"<p>(vosotros) Para cuando Juan llegue, vosotros ya habréis salido."+
"<br>By the time Juan arrives, you-all will already have left."+

"<p>(ellos) Para cuando María vuelva, ellos ya habrán comido."+
"<br>By the time Maria returns, they will have already eaten.";

tense_main["imperfecto"]="The imperfect tense is used to refer to actions in the past that occurred repeatedly."+
"<p>The imperfect is used for actions that were repeated habitually."+
"<p>Almorzábamos juntos todos los días."+
"<br>We would lunch together every day."+

"<p>Las señoras siempre charlaban por las mañanas."+
"<br>The ladies would always chat in the mornings."+

"<p>The imperfect is used for actions that 'set the stage' for another action."+
"<br>Yo leía cuando entró mi papá."+
"<br>I was reading when my papa entered."+

"<p>The imperfect is used for telling time and stating one's age."+
"<br>Eran las siete de la noche."+
"<br>It was seven o'clock at night."+

"<p>La niña tenía cinco años."+
"<br>The little girl was five years old.";


tense_main["pluscuamperfecto"] = "The Spanish pluperfect (aka past perfect) is used to indicate an action in the past that occurred before another action in the past. The latter can be either mentioned in the same sentence or implied. Ya había salido (cuando tú llamaste). I had already left (when you called)."
tense_main["presente"]="Present";
tense_main["pretérito perfecto"] = "The Spanish present perfect is used just like its English counterpart: to express that something has happened at some point before now, at an unspecified time in the past.";

function display_verbs(value){
	document.getElementById('verbs_div').innerHTML="<h3>loading verbs...</h3>";
	
	document.getElementById('verb_tense').value=value;
	document.getElementById('verb_button').focus();
	document.getElementById('verb_button').click();                     
}

function getPos(el) {
    // yay readability
    for (var lx=0, ly=0;
         el != null;
         lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent);
//    return {x: lx,y: ly};
	return[lx,ly];
//alert(lx,ly);
}
function explain_tense(div){
	var pos = getPos(div);
	document.getElementById('tense_explanation').innerHTML= tense_main[div.innerHTML];
	var height=div.offsetHeight + 5;
	var left = pos[0]-9;
	document.getElementById('tense_explanation').setAttribute('style','position:relative;z-index:1;left:'+left+'px;top:'+height+'px;width:'+tense_width[div.innerHTML]+'%;background-color:yellow;')

}
function off_tense_explanation(){
	document.getElementById('tense_explanation').setAttribute('style',"position:relative;display:none;")
}

function highlight_tense(div){
//	document.getElementById('mood_explination').innerHTML=mood_des[div.innerHTML];
	child_divs = document.getElementById("tenses").childNodes;
	for(var i = 0; i < child_divs.length; i++){
	 if (child_divs[i].nodeType==1){child_divs[i].style.color="black";}
	}
	div.style.color="blue";
	// document.getElementById('tense_mood').value=div.innerHTML;
	// document.getElementById('verb_mood').value=div.innerHTML;
	// 
	// document.getElementById('mood_button').focus();
	// document.getElementById('mood_button').click();
}



</script>
<div id="tenses"  style="position:absolute;top:-20px">
<%if @tenses%>	

<div id="tenses_holder" style="position:relative;display:inline;left:-60px;">

	<%@tenses.each do |t| %>
	<div class="tenses" style="position:relative;display:inline;cursor:pointer;" onClick="document.getElementById('instruction2').style.visibility='hidden';display_verbs(this.innerHTML);highlight_tense(this);" onmouseover= "explain_tense(this);" onmouseout="off_tense_explanation();"><%=t%></div>
	<%end%>

</div>
<%end%>

<div id="tense_explanation" style="position:relative;background-color:yellow;width:200px;"></div>
<div id="tense_example" style="position:relative;background-color:yellow;width:200px;"></div>
</div>