<script>
    $(function(){

		for(i=0;i<5;i++){
               $("#instruction3").animate({color: "red"}, 'slow');
               $("#instruction3").animate({color: "blue"}, 'slow');
}
    });

</script>


<%if @verbs%>

	<%c=0%>
	<%if @verbs.size==0 then%>
	<div style="position:relative">	There are no verbs for this tense yet.<br>
		Please click another tense.</div>
	<%else%>
	<div id="instruction3">Now, click a verb below<br>to see it in action</div>
	<div id="verb_place">

	<%@verbs.each do |v| %>
		<%c=c+1%>
<div >
	<div id="<%=c%>_verb" style="cursor:pointer;display:inline;" title="<%=Rails.cache.read("hash_verb")[v]%>-<%=Rails.cache.read("hash_trans")[Rails.cache.read("hash_verb")[v]]%>" onClick="display_results(this.innerHTML);" ><%=v%></div>

</div>	

	<%end%>
	</div>
	<%end%>
<%end%>