<script>
function display_results(value){
	document.getElementById('search').value=value;
	document.getElementById('results_button').focus();
	document.getElementById('results_button').click();                     
}
</script>


<%if @verbs%>
	<%c=0%>
	<%if @verbs.size==0 then%>
	<div style="position:fixed">	There are no verbs for this tense yet.<br>
		Please click another tense.</div>
	<%end%>
	<div id="verb_place">

	<%@verbs.each do |v| %>
		<%c=c+1%>
		<div id="<%=c%>_verb" onClick="display_results(this.innerHTML);"><%=v%></div>
	<%end%>
	</div>
<%end%>